<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>


    Welcome to your Profile
  </h2>





  <section>

  <h4>
    These are your favourite cats:
  </h4>

  {{#each cats}}
  <div>
    <h1>{{this.0.breeds.0.name}}</h1>
    <br>
    <img src="{{this.0.url}}" width="300" height="300">
    <form action="/profile/removefavourite/{{this.0.breeds.0.id}}" method="POST">
    <button type="submit">Remove from favourite</button>
    </form>
  </div>
  {{/each}}
  </section>





  <section>
    <h4>List of your own cats:</h4>
    {{#each myCats}}
    <div>
      <h1>{{this.name}}</h1>
      <br>
      <p>{{this.description}}</p>
      <br>
      <img src="{{this.imgURL}}" alt="cat-picture">
      <form action="/profile/removemycat/{{this.id}}" method="POST">
      <button type="submit">Remove from your own collection</button>
    </div>
    {{/each}}
  </section>

  <section>
    <h4>Do you have cats and you want to tell us more about them?</h4>
    <form action="/profile/addcat" method="POST" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Name of your cat">
    <input type="text" name="description" placeholder="Description of your cat" width="100" height="70">
    <input type="file" name="my-photo" id="">
    <button type="submit">Upload your cat</button>
    </form>
  </section>

 {{#if this.emailVarification}} 
{{else}}
   Please make sure to varify your email with the link we sent you. 
  {{/if}}
  
</body>
</html>