

  <h3>{{cat.name}}</h3>
  <div>
    <p>{{cat.description}}</p>
  <ul>
    <li>Adaptability : {{cat.adaptability}}</li>
    <li>Affection Level : {{cat.affection_level}}</li>
    <li>Child Friendly : {{cat.child_friendly}}</li>
    <li>Dog friendly : {{cat.dog_friendly}}</li>
    <li>intelligence : {{cat.intelligence}}</li>
    <li>Hairless : {{cat.hairless}}</li>
    <li>Rare : {{cat.rare}}</li>
  </ul>
  <img src="{{pic.url}}" height="300" width="400">
  <form action="/private/filteringcats/{{cat.id}}" method="POST">
  <button type="submit">Add to your favorite cat</button>
  </form>
  </div>
