
  <div class="pagetitle">
  <h2>{{cat.name}}</h2></div>
  <div class="catdetailresultbox">
    <p>{{cat.description}}</p>
  <ul>
    <li>Adaptability : {{cat.adaptability}}</li>
    <li>Affection Level : {{cat.affection_level}}</li>
    <li>Child Friendly : {{cat.child_friendly}}</li>
    <li>Dog friendly : {{cat.dog_friendly}}</li>
    <li>intelligence : {{cat.intelligence}}</li>
    <li>Hairless : {{cat.hairless}}</li>
    <li>Rare : {{cat.rare}}</li>
    <li><a href="{{cat.wikipedia_url}}">Wikipedia Url</a></li>
  </ul>
  <img src="{{pic.url}}" height="300" width="400">
  <form action="/private/filteringcats/{{cat.id}}" method="POST">
  <button type="submit">Add to your list of favorite cats</button>
  </form>
  </div>
